body {
    font-family: cursive;
    background: black url(https://images.unsplash.com/photo-1504093376055-b3094b674dcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-attachment: fixed;
    background-position: center;
    color:#BCC2B1;
    line-height: 1.3rem;
}
h1 {
    text-align: center;
    text-decoration-line: underline;
    color:#FBFAF3;
    background-image: url(https://i.imgur.com/BjYLcYK.jpg);
    height: 5px;
    background-position: center;
    padding: 5pc;
    background-repeat: no-repeat;
}

blockquote {
    color:#644F49;
}

cite {
    color:#28231B;
}

ol {
    color:#FBFAF3;
    font-weight: bold;
}