html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
header img {
    margin-left: 30rem;
}
h1 {
    color: #DA0090;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-top: 3.9rem;
    margin-bottom: 0;
    margin-left: 1rem;
}
header p {
    margin-top: -0.5rem;
    margin-left: 1rem;
}
nav a {
    color: black;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
nav li {
    display: inline-block;
}
nav ul {
    text-align: center;
    border-top: 1.5px #DA0090 solid;
    border-bottom: 1.5px brown solid;
    padding: 0.5rem;
    margin-left: 30rem;
    margin-right: 30rem;
}
article img {
    float:left;
    content: "";
    display: table;
    clear: both;
    margin-left: 30rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
}
article h2, p {
    margin-right: 30rem;
}
h2 {
    padding-top: 1rem;
}
article {
    margin-bottom: 4rem;
    border: 2px solid white;
}
footer li {
    display: inline-block;
}
footer p {
    text-align: center; 
    padding-right: 15rem;
    padding-left: 15rem;
    padding-top: 1.5rem;
    border-top: 1px solid brown;
    margin-left: 30rem;

}